#user-info {
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);

  padding: 20px;
}



.form-change-mdp {
  border: 1px solid var(--border-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;


}

.input-mdp {
  display: flex;
  flex-direction: column;
}

.input-mdp input {
  width: 12rem;
}

.btn-compte {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 12px;
}



.frame-sync-calendar{
  border:1px solid var(--border-color);
  background-color: var(--main-bg);
  padding:10px;
  
}