.confidentialite-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
}


.frame-confidentialite {
    background-color: white;
    padding: 40px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;

    gap: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: var(--shadow-large);
}

.confidentialite-sommaire {
    border: 1px solid var(--border-color);
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.confidentialite-sommaire h2 {
    margin: 0;
    border-bottom: none
}

.confidentialite-sommaire a {
    margin-bottom: 12px;

}

.confidentialite-sommaire a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

p {
    line-height: 1.6
}

main {
    margin-bottom: 50px;
}

h2 {
    border-bottom: 1px solid rgb(178, 178, 178);
    width: fit-content;
}
