.frame-add-contact {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--main-bg);

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.frame-add-contact form {
    display: flex;
    flex-direction: column;
}


.contact-row, .contact-row-header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: space-between;

    width: 600px;

}