/* Layout */

.frame-graph,
.frame-credit {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px
}

.frame-graph-envoie {
    width: 40%;
}

.frame-row,
.main-frame-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.frame-row {
    align-items: center;
    margin-bottom: 40px;
    width: 90%;
}

#input-cards-proposition-rdv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px
}

/* Card */

.card {
    height: 400px;
    padding: 20px;
    box-shadow: var(--shadow-medium);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--card-background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-proposition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--card-background);
}

.card-proposition p {
    margin: 0;
}

.card-proposition footer {
    margin-top: 20px
}

.card-proposition header {
    margin-bottom: 20px
}
.card-proposition header p {
    font-size:18px;
    font-weight: 700;
}
.card-proposition ul{
    margin : 5px 0
}
.card-proposition li{
    margin-left:10px
}
/* graphique */
.graph-wrapper {
    position: relative;
    height: 100%;
}

.graph {
    flex: 1
}

/* element */
.btn-proposition {
    background-color: var(---primary-color);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}