.navbar {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px 15px 0px 15px;
    min-height: 100vh;

    background-color: white;
    width: fit-content;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
}

.navbar-state-retract {
    min-height: 0px !important;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 12px;
    padding: 10px 15px 0px 15px;
}

/* Header */
.navbar-header {
    border-bottom: 1px solid var(--border-color);
    gap: 6px;
}

.navbar-title {
    padding: 0 10px;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -1px;
    background: var(--gradient-title);
    color: transparent;
    background-clip: text;
    overflow: hidden;
    margin: 15px 0;
    text-align: center;
    padding-right: 30px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}


/* frame top */

.navbar-frame-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-subtitle {
    color: var(--color-nav);
    font-weight: 600;
    font-size: 18px
}

.btn-retract {
    display: flex;
    align-items: center;
    height: 26px;
    width: fit-content;
    cursor: pointer;
    border-color: rgb(235, 235, 235);
    border-radius: 6px;
    color: rgb(115, 115, 115);
    transform: rotate(180deg);

}

.btn-retract:hover {
    background-color: #f9f9f9;
    transform: rotate(0deg);
}

.btn-retract-activ {
    rotate: 180deg;
    margin: 10px auto;
}




/* collecetion link */
.navbar-collecion {
    display: flex;
    flex-direction: column;
}

.item-nav-logo {
    width: 24px;
    height: 24px;
}

.item-nav {
    text-decoration: none;
    color: var(--color-nav);
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 8px 5px 0px;
    padding: 5px 0px;
    padding-right: 7px;
    position: relative;
    border-radius: 12px;
    gap: 6px;
    overflow: hidden;
}

.item-nav:hover {
    transform: translateY(-1px);
    background-color: rgb(237, 237, 237)
}

.item-nav::before {
    content: "";
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #5247c7;
    transform: scale(0);
    transition: transform 0.25s ease;
}

.item-nav:hover::before {
    transform: scale(1);
}

.item-nav p {
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    margin-left: 6px;
    font-family: 'Poppins', 'Inter', sans-serif;
}

a:visited {
    color: black
}

@media(max-width:768px) {
    .navbar {
        padding: 5px
    }

    .item-nav {
        margin: 5px;
    }

    #content {
        flex-direction: column;
    }

    #navbar {
        width: 100%;
        min-height: fit-content;
    }

    #navbar-retract {
        display: none
    }
}
