



#match-event{
    background-color: var(--main-bg);
    margin-bottom:100px;
}


#match-event form{
    display: flex;
    flex-direction: column;
    width: fit-content;

    margin:auto;
}

.form-block{
    display:flex;
    flex-direction: row;
}