#main-content {
    width: 100%;
}

.frame-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem
}

.frame-external {
    width: 35%
}

.frame-calendar {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

#calendar {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    width: 70%;
    max-width: 1200px;
    background-color: white;
    height: fit-content;
}



/* === main frame === */
/* Formulaire Match Event */
#match-event {
    background: var(--card-background);
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    padding: 20px
}

.header-form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: none;
}

.form-matching-container {
    padding: 20px
}



@media(max-width:1024px) {}

@media(max-width:768px) {
    .frame-top {
        flex-direction: column;
        width: 100%;
    }

    .frame-external {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .frame-external-fc {
        display: flex;
        flex-direction: row !important;
    }

    .external-element-fav {
        width: fit-content !important;
    }

    .external-title {
        font-size: 14px
    }

    #calendar {
        width: 100%;
    }
}

@media(max-width:480px) {

    /* EXTERNAL EVENTS*/
    .external-events {
        margin-bottom: 0 !important
    }

    .frame-external-fc {
        display: flex;
        flex-direction: column !important;
        column-gap: 2px
    }

    /* FC CALENDAR */
    #calendar {
        padding: 8px
    }

    .fc-toolbar-header {
        margin-bottom: 12px
    }

    .fc-toolbar-title {
        font-size: 16px !important
    }

    .fc-button {
        font-size: 14px !important;
        padding: 4px !important
    }

    .frame-calendar {
        padding: 0
    }

    .frame-top,
    .form-matching-container {
        padding: 5px !important
    }

    .frame-external-fc {
        flex-direction: column;
    }
}